{%extends "base.html"%}
{% load emoji_tags %}
{% load staticfiles %}

{%block style%}
<link rel="stylesheet" href="{%static 'css/journal.css'%}">
{%endblock%}


{%block content%}
  <h2>{{"wave"|emoji}}{{"earth_americas"|emoji}}!</h2>

  <form class="signup hidden">
    <input type="tel" placeholder="+1 123-555-1212"/>
    <button type="submit">{{"rocket"|emoji}}</button>
  </form>

  <ul class="journal"></ul>
{%endblock%}

{%block script%}
<script>
$(document).ready(function() {
  var hashid = window.location.hash.replace('#','');
  if(!!hashid) {
    $.get('/api/journal/'+hashid,function(data){
      console.log('got', data);
      $.each(data.entries, function(index, entry) {
        $('.journal').append('<li class="entry">'+
          '<span class="date">'+moment(entry.created_at, moment.ISO_8601).startOf('hour').fromNow()+'</span>'+
          '<span class="text">'+entry.txt+'</span>'+
          '</li>'
        );
      });
      $('form.signup').hide();
    });
  } else {
    $('form.signup').show();
    $('form.signup').submit(function(event) {
      event.preventDefault();

      var phone = $('form.signup input[type=tel]').val()
        .replace('-','').replace('(','').replace(')','');
      if (phone.substr(0,1) != '+1') {
        phone = '+1'+phone;
      }
      console.log('signup '+phone);
      $.post('/sms/signup/'+phone+'/',function(response){
        console.log('response', response);
        if (response.message === 'confirm') {
          // TODO, redirect to the screen?
          alert('success!');
        } else if (response.message === 'exists') {
          alert('you\'re already signed up!');
        }
      });
    })
  }
});
</script>
{%endblock%}