.journal {
    background-color: $blue;
    color: $white;
    text-transform: uppercase;

    section {
        padding: 0;
    }

    #stats {
        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            float: left;
            width: 40%;
        }
        h2 {
            font-size: 1.6rem;
            font-weight: 100;
            margin-bottom: 0;
        }
        padding: 2rem;

        .chart {
            height: 250px;
            width: auto;
            float: right;

            
            .axis {
                path { 
                    fill: none;
                    stroke: $blue-dark;
                    stroke-width: 2px;
                }
                text { font-size: 2.5rem; }
            }
            .bar {
                fill: $blue-dark;
                text {
                    stroke: $white;
                    font-weight: 100;
                    font-size: 1rem;
                }
            }
        }
    }

    #badges {
        li {
            display: block;
            min-height: 5rem;
            padding: 2rem 0 2rem 8rem;
            margin-bottom: 0;

            &:nth-child(odd) {
                background-color: $blue-dark;
            } 

            line-height: 4rem;

            span.emoji {                   
                font-size: 4rem;
            }
            div.num {
                display: inline-block;
                position: relative;
                bottom: 1rem;
                left: 5rem;
            }
        }
    }

    #today {
        background: $blue-dark;
        height: 100%;

        .entry {
            margin: 4rem 0 2rem 0;
            width: 100%;
            text-align: center;
            font-weight: 100;

            .time, .day { font-size: 1.6rem; }
            .date { font-size: 7rem; font-weight: 300; }
            .txt { font-size: 8rem; }
        }
    }

    #calendar {
        ul {
            padding: 2rem 0;
            li {
                display: inline-block;
                width: 20%;
                .date {
                    display: block;
                    width: 100%;
                    font-weight: 100;
                    text-align: center;
                }
                .txt {
                    display: block; 
                    width: 100%;
                    font-size: 4rem;
                    text-align: center;
                }
            }
        }
    }
}