header {
    position: relative;
    top: -2em;
    @media (#{$bp-larger-than-tablet}) { top: -6rem; }
    @media (#{$bp-larger-than-desktop}) { top: -8rem; }
    padding-left: 2rem;
    font-size: 1.4rem;
    a { color: $white; }
}

section {
    width: 100%;
    min-height: calc(90% - 20rem);
    padding: 4rem 0;
    @media (#{$bp-larger-than-tablet}) { padding: 8rem 0; }
    @media (#{$bp-larger-than-desktop}) { padding: 10rem 0; }

    header, h1, h3 {
        text-transform: uppercase;
    }

    h3 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }

    img { 
        width: 100%;
    }

    &.gradient {
        background-image: linear-gradient(-164deg, #B0E0EE 0%, #349FD8 100%);
        color: $white;
    }
    &.light {
        background: $blue-light;
        color: $blue-dark;
    }
    &.blue {
        background: $blue;
        color: $white;
    }
    &.stars {
        background: $gray-dark;
        background-image: url('/images/stars.svg');
        background-size: 100% 80%;
        background-position: center bottom;
        @media (#{$bp-larger-than-tablet}) { background-position: center center; }
        background-repeat: no-repeat;
        color: $white;
    }

    .row {
        margin-bottom: 4rem;
        position: relative;
        .center-vertical {
            @media (#{$bp-larger-than-desktop}) { line-height: 10rem; }
        }
    }
}

.index #logo {
    padding-top: 20%;
    h1 {
        text-align: center;
        @media (#{$bp-larger-than-phablet}) { text-align: left; }
        margin-bottom: 0rem;
    }
    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
        @media (#{$bp-larger-than-phablet}) {
            font-size: 3rem;
            text-align: left;
            margin-left: 0.4rem; // fix overhanging y on left rail
        }
    }
    img {
        width: 50%;
        margin: 0 25%;
        @media (#{$bp-larger-than-phablet}) { margin: 0; }
    }
}

.index #examples {
    height: 100%;
    padding-top: 20%;
    li {
        @media (#{$bp-larger-than-phablet}) { margin-bottom: 30%; }
        line-height: 4rem;

        p.emoji {
            display: inline;
            font-size: 4rem;
            margin-bottom: 0;
        }
        span {
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1.8rem;
            margin-right: 10px;
            vertical-align: top;
            display: inline-block;
            min-width: 125px;
            text-align: right;

            @media (#{$bp-larger-than-phablet}) { 
                display: block;
                text-align: left;
            }
            @media (#{$bp-larger-than-desktop}) { 
                display: inline-block;
                text-align: right;
            }

            &:after {
                content: ":";
                vertical-align: top;
                bottom: 0.1rem;
                left: 0.1rem;
                position: relative;
            }
        }
    }
}

.conversation {
    max-width: 300px;
    margin: 0 auto;

    .bubble {
        max-width: 225px;
        min-width: 130px;
        height: 45px;
        color: $white;
        padding: 1rem;
        margin-bottom: 2rem;
        position: relative;

        p {
            display: inline;
            margin-bottom: 0;
        }
        span.date {
            font-weight: 100;
            font-size: 1.2rem;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }

        &:after {
            content: "";
            position: absolute;
            border-style: solid;
            bottom: -10px;
        }

        &.left {
            min-width: 225px;
            float: left;
            background-color: $blue-dark;
            
            &:after {
                left: 5%;
                border-width: 10px 10px 0 0;
                border-color: $blue-dark transparent transparent transparent;
            }
        }

        &.right {
            float: right;
            background-color: $blue;
            &:after {
                right: 5%;
                border-width: 0 10px 10px 0;
                border-color: transparent $blue transparent transparent;
            }
        }
    }
}

#getstarted {
    @media (#{$bp-larger-than-tablet}) { margin-top: 15%; }
    @media (#{$bp-larger-than-desktop}) { margin-top: 25%; }
    

    h3 {
        font-size: 2rem;
        font-weight: normal;
    }

    input {
        width: 66%;
        margin-top: 2rem;
        text-align: center;
        color: $black;
    }
    button {
        display: block;
        margin: 2rem auto;

        font-size: 6rem;
        height: 10rem;
        width: 10rem;
        padding: 0;
        background-color: $gray-dark;

        border-width: 2px;
        border-radius: 5px;
        letter-spacing: 0;

        &:hover { border-color: $link-active; }
    }
}
